.single-tshirt {
    border: 1px solid lightblue;
    border-radius: 15px;
    padding: 10px;
}
.single-tshirt img {
    width: 250px;
    height: 250px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}
button:hover {
    background-color: aquamarine;
    border: none;
    outline: none;
}